################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/MyTaraji.Mobile/FileContentIndex
/.vs
/my_taraji/macos/Flutter/
/my_taraji/linux/flutter/
/my_taraji/linux/flutter/
/my_taraji/windows/flutter/
/my_taraji/windows/flutter/
